# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/

# Database files
databases/*.db
db.sqlite3
db.sqlite3-journal

# Report files
reports/*.html
reports/*.pdf

# Pickle files
*.pkl

# Log files
*.log

# Project specific
scraper_sources/__pycache__/
utils/__pycache__/
